.sidebar {
    width: 230px;
    height: 96.5vh;
    background: #FFF8F7;
    padding: 12px 22px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    border-left: 1px solid #f0ebeb;
    direction: rtl;
    
            position: sticky;
            top: 0;
        
}

.sideLogo {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 6px;
    margin-top: 20px;
    margin-bottom: 60px;
    height: 56px;
}

.logoText {
    font-size: 24px;
    font-weight: 400;
    color: #d70d0d;
}

.logoImg {
width: 50px;
height: 50px;
}

.sideBtn {
    /* width: 100%; */
    height: 48px;
    background: #ffffff;
    border: 1px solid #eee6e6;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding: 0 16px;
    cursor: pointer;
    font-size: 15px;
    color: #4a4a4a;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.04);
    transition: 0.2s ease-in-out;
    text-decoration: none;
}

.sideBtn:hover {
    background: #fff3f3;
}

.sideBtn.active {
    background: #DD2912;
    color: #fff;
    border: none;
    box-shadow: none;
}

.btnIcon {
    font-size: 18px;
}

.btnText {
    font-size: 15px;
    font-weight: 500;
}


.logoutBtn {
    margin-top: 40px;
    padding: 10px 8px;
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
}

.logoutText {
    color: #DD2912;
    font-size: 15px;
    font-weight: 500;
}

.logoutIcon {
    color: #DD2912;
    font-size: 18px;
}

.sideBtn.active {
    background: #DD2912;
    color: #fff;
    border: none;
    box-shadow: none;
}