
.navbar {
    background: #FFF8F7;
    padding: 12px 0;
    border-bottom: 1px solid #f1eaea;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);

    
.navbar {
        width: calc(100% - 230px);
        margin-right: 230px;
        background: #FFF8F7;
        padding: 12px 0;
        border-bottom: 1px solid #f1eaea;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
    }
        

}

.navbar-container {    
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.profileSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
}

.profileImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.profileName {
    font-size: 15px;
    font-weight: 500;
}

.navRightSection {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 826px;
    height: 56px;
}

.searchBar {
    display: flex;
    align-items: center;
    position: relative;
    background: #fff;
    border: 1px solid #f1eaea;
    border-radius: 12px;
    padding: 8px 40px 8px 12px;
    width: 660px;
    height: 36px;
    direction: rtl;
}

.searchInput {
    width: 100%;
    border: none;
    outline: none;
    font-size: 14px;
    background: transparent;
    text-align: right;
}

.searchIcon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #6d6d6d;
}

.settingsIcon {
    font-size: 24px;
    cursor: pointer;
    color: #444;
}