.navbar {
    background: #FFF8F7;
    padding: 12px 0;
    border-bottom: 1px solid #f1eaea;
box-shadow: 0px 0px 4px 0px rgba(67, 65, 65, 0.25);
    width: 100%;
    margin-right: 0;
    padding: 0 40px;
}

.navbar-container {
    width: 100%;
    margin: 0;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}


.profileSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    flex-shrink: 0;
}

.profileImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.profileName {
    font-size: 15px;
    font-weight: 500;
}

.navRightSection {
    display: flex;
    align-items: center;
    gap: 30px;
    flex: 1;
    justify-content: flex-start;
    min-width: 0;
}

.searchBar {
    display: flex;
    align-items: center;
    position: relative;
    background: #fff;
    height: 56px;
    border: 0.5px solid #FFF8F7;
    border-radius: 12px;
    padding: 8px 40px 8px 12px;
    /* height: 50px; */
    direction: rtl;
    /* flex: 1 1 280px; */
    width: 900px;
    min-width: 150px;
    box-shadow: 0px 0px 4px 0px rgba(67, 65, 65, 0.25);
}

.searchInput {
    width: 100%;
    border: none;
    outline: none;
    font-size: 14px;
    background: transparent;
    text-align: right;
}

.searchIcon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #6d6d6d;
}

.settingsIcon {
    font-size: 24px;
    cursor: pointer;
    color: #444;
    flex-shrink: 0;
}

@media (max-width: 768px) {
    .navbar-container {
        padding: 0 10px;
    }

    .searchBar {
        flex: 0 1 55%;
    }
}
.menuToggle {
    display: none;
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #444;
}
@media (max-width: 480px) {
.menuToggle {
        display: block;
    }
    .searchBar {
        flex: 0 1 50%;
        padding: 6px 32px 6px 8px;
    }

    .profileImage {
        width: 32px;
        height: 32px;
    }

    .settingsIcon {
        font-size: 22px;
    }
}