

.changePasswordContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 100%;
}




.rulesHeader{
    font-family: 'Cairo', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 12px;
    color: #0D0201;
    margin: 0;
}

.formSection2 {
    display: flex;
    flex-direction: column;
    gap: 24px;
    box-shadow: 0px 4px 0px #434141(0, 0, 0, 0.08);
}
.inputContainer2 {
    display: flex;
    flex-direction: column;
    direction: rtl;
}







.checkbox {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    user-select: none;
}

.checkbox input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;

    border: 0.5px solid #eacccc;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    transition: all 0.2s ease;
    background-color: #fff;
    margin: 0;
    padding: 10px;
}

.checkbox input[type="checkbox"]:checked {
    background-color: #DD2912;
    border-color: #DD2912;
}

.checkbox input[type="checkbox"]::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 6px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
    transition: opacity 0.2s ease;
}

.checkbox input[type="checkbox"]:checked::after {
    opacity: 1;
}

.checkbox span {
    font-family: 'Cairo', sans-serif;
    font-size: 16px;
    color: #333;
}