.fieldGroupAlertMessage {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;

}
.fieldGroupAlertMessage label {
    font-size: 14px;
    font-weight: 500;}

    .fieldGroupAlertMessage textarea{
    
    }

.mainForm2   {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 10px;
    font-size: 14px;
    font-family: 'Cairo', sans-serif;
    resize: none;
    gap: 20px;
}