.loginContainer {
    width: 100%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 40px;
}

.loginCard {
    width: 40%;
    background: #fff;
    border-radius: 16px;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.headerContainer {
    text-align: center;
}

.tyre {
    width: 120px;
}

.headerText {
    font-size: 28px;
    font-weight: 700;
    font-family: "Cairo", sans-serif;
    margin: 0;
}

.para {
    font-size: 17px;
    margin-top: -5px;
    color: #444;
    margin: 0;
}

.formSection {
    margin-top: 35px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
        border: 1px solid #E4DDDD;
            border-radius: 15px;
}


.formSectionContainer{       
     padding: 50px 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    gap: 20px;
}
.inputGroup {
    width: 100%;
}

.inputLabel {
    font-family: "Cairo";
    font-size: 16px;
    margin-bottom: 6px;
    display: flex;
    gap: 4px;
}

.req {
    color: red;
    font-size: 10px;
}

.inputWrapper {
    position: relative;
}

.inputField {
    width: 100%;
    border-radius: 12px;
    border: 1.3px solid #E4DCDC;
    font-family: "Cairo";
    font-size: 16px;
    box-sizing: border-box;
        padding-right: 40px;
}

.inputField::placeholder {
   
}

.inputField:focus {
    border-color: #DD2912;
    outline: none;
}

.inputIcon {
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #777;
}

.passwordToggleIcon {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    cursor: pointer;
    color: #777;
}

.forgetPassword {
    font-size: 14px;
    color: #666;
    cursor: pointer;
    width: 100%;
    text-align: left;
    margin: 0;
}

.loginButton {
    width: 100%;
    background: #DD2912;
    border: none;
    color: white;
    padding: 15px;
    font-size: 18px;
    border-radius: 12px;
    font-family: "Cairo";
    cursor: pointer;
}

.loginButton:hover {
    background: #C02211;
}

.errorMessage {
    color: #DD2912;
    font-size: 13px;
    margin-top: 6px;
}