.ranksPage {
    direction: rtl;
    font-family: "Cairo", sans-serif;
}

.ranksGrid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.rankCard {
    background: #ffffff;
    border: 0.5px solid #FFF8F7;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    height: 155px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 0px 4px 0px rgba(67, 65, 65, 0.25);
}

.rankCard.activeCard {
    background: #E6F2E6;
    border-color: #e0f4e0;
}

.rankIcon {
    font-size: 40px;
}

.rankTitle {
    font-size: 18px;
    font-weight: 500;
    color: #222;
}

.rankInfo {
    font-size: 14px;
    color: #666;
    display: flex;
    justify-content: space-between;
}

.sendOfferBtn {
    background: #DD2912;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 10px;
    font-size: 15px;
}

/* .roundedSection {
    background: #fff8f7;
    border: 0.5px solid #eacccc;
    border-radius: 15px;
    padding: 20px;
} */

.sentOfferItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    border: 0.5px solid #efcbcb;
    border-radius: 12px;
    padding: 14px 18px;
    margin-bottom: 15px;
    height: 60px;
}

.sentOfferRight {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 85%;
}

.sentOfferIcon {
    font-size: 32px;
    color: #d4af37;
    flex-shrink: 0;
}

.sentOfferText {
    font-size: 16px;
    color: #333;
    text-align: right;
    direction: rtl;
}

.sentOfferBadge {
    background: #fff3ee;
    color: #DD2912;
    padding: 5px 12px;
    border-radius: 8px;
    font-size: 14px;
}

.rankHeader {
    display: flex;
    align-items: center;    justify-content: space-between;

}

.rankImg {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}

.emptyBtns {
    display: flex;
    gap: 12px;
}

@media (max-width: 992px) {
    .ranksGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    .ranksGrid {
        grid-template-columns: 1fr;
    }
}