.layout {
    display: flex;
    height: 100vh;
    width: 100%;
    direction: rtl;
    font-family: "Cairo", sans-serif;
}

.right-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: #fff;
}

.content-area {
    flex: 1;
    padding: 45px ;
    overflow-y: auto;
    background: #ffffff;
}