.fieldGroupAlertMessage {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;

}
.fieldGroupAlertMessage label {
    font-size: 14px;
    font-weight: 500;}

    .fieldGroupAlertMessage input{
    padding: 16px 10px;
        border: 1.4px solid #eacccc;
        border-radius: 12px;
        background: white;
        font-size: 15px;
        width: 100%;
    }

.mainForm2   {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 10px;
    font-size: 14px;
    font-family: 'Cairo', sans-serif;
    resize: none;
    gap: 20px;
}