.loginContainer {
    width: 100%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 40px;
    padding-bottom: 40px;
}

.loginCard {
    width: 30%;
    background: #fff;
    border-radius: 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 0;
    padding: 0;
}
.mainLoginCard{
    width: 90%;
}
.headerContainer {
    text-align: center;
}

.tyre {
    width: 120px;
}

.headerText {
    font-size: 28px;
    font-weight: 700;
    font-family: "Cairo", sans-serif;
    margin: 0;
}

.para {
    font-size: 17px;
    margin-top: -5px;
    color: #444;
    margin: 0;
}

.formSection {
    margin-top: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.5px solid #E4DDDD;
    border-radius: 15px;
}


.formSectionContainer {
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    gap: 20px;
}

.inputGroup {
    width: 100%;
}

.inputLabel {
    font-family: "Cairo";
    font-size: 16px;
    margin-bottom: 6px;
    display: flex;
    gap: 4px;
}

.req {
    color: red;
    font-size: 10px;
}

.inputWrapper {
    position: relative;
}

.inputField {
    width: 100%;

    box-sizing: border-box;
    padding: 16px 8px;
    border-radius: 12px;
    border: 0.5px solid #eacccc;
    font-size: 16px;
    background: #fff;
    transition: 0.2s;
    padding-right: 40px;


}

.inputField::placeholder {}

.inputField:focus {
    border-color: #DD2912;
    outline: none;
}

.inputIcon {
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #777;
}

.passwordToggleIcon {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    cursor: pointer;
    color: #777;
}

.forgetPassword {
    font-size: 14px;
    color: #666;
    cursor: pointer;
    width: 100%;
    text-align: left;
    margin: 0;
}

.loginButton {
    width: 100%;
    background: #DD2912;
    border: none;
    color: white;
    padding: 15px;
    font-size: 18px;
    border-radius: 12px;
    font-family: "Cairo";
    cursor: pointer;
}

.loginButton:hover {
    background: #C02211;
}

.errorMessage {
    color: #DD2912;
    font-size: 12px;
    margin-top: 8px;
    text-align: right;
}