.mainContainer {
    direction: rtl;
    font-family: "Cairo", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 20px;
  
}

.vp-add-row {
    display: flex;

    justify-content: flex-end;
}

.vp-add-visit-btn {
    background: white;
    color: #DD2912 !important;
    border: 1.5px solid #eacccc;
    border-radius: 10px;
    padding: 7px 22px;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.vp-plus-icon {
    font-size: 22px;
}

.vp-card {
    background: #fff8f7;
    border: 1.8px solid #f0d7d7;
    border-radius: 14px;
    padding: 18px 25px;
    height: 130px;
    display: flex;
    align-items: center;
}

.vp-card-flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vp-info-block {
    display: flex;
    flex-direction: column;
    text-align: right;
    gap: 10px;
    padding-right: 10px;
}

.vp-service-row {
    display: flex;
    align-items: center;
    gap: 12px;
}

.vp-service-icon {
    width: 40px;
    height: 40px;
}

.vp-service-name {
    font-size: 22px;
    font-weight: 600;
    color: #1f1f1f;
}

.vp-details-row {
    display: flex;
    align-items: center;
    gap: 26px;
    font-size: 15px;
    color: #4c4c4c;
}

.vp-details-row div {
    display: flex;
    align-items: center;
    gap: 6px;
}

.vp-car-icon {
    width: 25px;
    margin-right: -4px;
}

.vp-more-details {
    color: #DD2912;
    font-size: 15px;
    cursor: pointer;
    font-weight: 500;
}

.vp-price-block {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 10px;
}

.vp-price {
    font-size: 28px;
    font-weight: 700;
    color: #1a1a1a;
}

.vp-currency {
    font-size: 20px;
}

.vp-actions-row {
    display: flex;
    gap: 22px;
    margin-top: 5px;
}

.vp-edit-action,
.vp-delete-action {
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    font-size: 14px;
}

.vp-edit-action {
    color: #444;
}

.vp-delete-action {
    color: #DD2912;
}

.vp-action-icon {
    font-size: 16px;
}