.addTopRow {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.addBtn {
    background: white;
    color: #DD2912;
    border: 0.5px solid #eacccc;
    border-radius: 10px;
    padding: 8px 22px;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.addBtn:hover {
    background: white;
}

.plusIcon {
    font-size: 21px;
    margin-top: -2px;
}


.cardImg {
    width: 55px;
    height: 55px;
}

.cardCol {
    flex: 1;
}

.cardRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}


.btnRow {
    display: flex;
    gap: 12px;
}

.btnVisit {
    background: #DD2912;
    color: white;
    padding: 6px 28px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
}

.btnNotify {
    background: white;
    color: #DD2912;
    padding: 6px 28px;
    border-radius: 10px;
    border: 1.4px solid #efc9c9;
    font-size: 15px;
}

.cardDetails {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 14px;
    color: #404040;
}

.cardBlock {
    display: flex;
    align-items: center;
    gap: 6px;
}

.subText {
    font-size: 14px;
    color: #666;
}

.moreDetails {
    color: #DD2912;
    cursor: pointer;
}

.editRow,
.deleteRow {
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}

.editRow {
    color: #4a4a4a;
}

.deleteRow {
    color: #DD2912;
}

.actionIcon {
    font-size: 15px;
    margin-top: -2px;
}

.emptyState {
    text-align: center;
    margin-top: 40px;
}

.emptyIcon {
    width: 120px;
    margin-bottom: 15px;
}

.emptyText {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
}

.emptySubText {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}