.addTopRow {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    /* margin-bottom: 16px; */
}

.addBtn {
    background: white;
    color: #DD2912;
    border: 0.5px solid #eacccc;
    border-radius: 10px;
    padding: 8px 22px;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.addBtn:hover {
    background: white;
}

.plusIcon {
    font-size: 21px;
    margin-top: -2px;
}


.mainCard {
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 12px;
    border: 0.5px solid #eacccc;
    background: #fffdfd;
    border-radius: 15px;
    padding: 16px 18px;
    /* margin-bottom: 14px; */
    font-family: "Cairo", sans-serif;
}

.cardImg {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    flex-shrink: 0;
}

.cardCol {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.cardRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
    gap: 8px;
}

.cardTitle {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    color: #333;
}

.btnRow {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.btnVisit {
    background: #DD2912;
    color: white;
    padding: 6px 22px;
    border-radius: 10px;
    border: none;
    font-size: 14px;
    cursor: pointer;
}

.btnNotify {
    background: white;
    color: #DD2912;
    padding: 6px 22px;
    border-radius: 10px;
    border: 1px solid #efc9c9;
    font-size: 14px;
    cursor: pointer;
}

.cardDetails {
    display: flex;
    align-items: center;
    gap: 14px;
    font-size: 14px;
    color: #404040;
    flex-wrap: wrap;
}

.cardBlock {
    display: flex;
    align-items: center;
    gap: 6px;
}

.subText {
    font-size: 14px;
    color: #666;
}

.moreDetails {
    color: #DD2912;
    cursor: pointer;
}

.editRow,
.deleteRow {
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}

.editRow {
    color: #4a4a4a;
}

.deleteRow {
    color: #DD2912;
}

.actionIcon {
    font-size: 15px;
    margin-top: -2px;
}


.emptyState {
    text-align: center;
    margin-top: 40px;
}

.emptyIcon {
    width: 120px;
    margin-bottom: 15px;
}

.emptyText {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
}

.emptySubText {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}


@media (max-width: 768px) {
    .mainCard {
        padding: 14px 14px;
    }

 

    .cardRow .btnRow {
        justify-content: flex-end;
    }
}

@media (max-width: 576px) {
    .mainCard {
        flex-direction: column;
        align-items: stretch;
    }

    .cardImg {
        align-self: center;
        margin-bottom: 6px;
    }

    .cardRow:first-child {
        justify-content: space-between;
        gap: 6px;
    }

    .cardTitle {
        font-size: 15px;
    }

    .cardDetails {
        flex-direction: row;
        width: 100%;
        align-items: flex-start;
        justify-content: space-between;
        gap: 8px;
    }

    .btnRow {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        gap: 8px;
    }

    .btnNotify,
    .btnVisit {
        width: auto;
        min-width: 120px;
        text-align: center;
    }

    .cardRow:last-child {
        flex-direction: row;
        justify-content: space-between;
        /* align-items: center; */
    }
}