.alertOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.18);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.alertHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Cairo', sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    color: #000;
}
.alertCard {
    /* width: 420px; */
    background: #fff8f7;
    border: 0.5px solid #f2d9d9;
    border-radius: 16px;
    padding: 35px 40px;
    text-align: center;
    direction: rtl;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    animation: fadeIn 0.25s ease-out;
}



.alertMessage {
    font-size: 15px;
    color: #444;
    margin-bottom: 28px;
}

.alertButtons {
    display: flex;
    justify-content: center;
    gap: 18px;
}

.alertBtn {
    width: 130px;
    padding: 10px 0;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s;
}

addClientForm White Cancel Button */
.alertBtn.cancel {
    background: #fff;
    border: 0.5px solid #e0bfbf;
    color: #DD2912;
}

addClientForm Red Confirm Button */
.alertBtn.confirm {
    background: #DD2912;
    border: none;
    color: #fff;
}

addClientForm Smooth Fade Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.96);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}





.alertBody {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

addClientForm Label */
.modalLabel {
    font-size: 16px;
    font-weight: 600;
    color: #333;
    display: flex;
    align-items: center;
    gap: 4px;
}

.modalInput  {
    width: 100%;
    padding: 12px 10px;
    border-radius: 10px;
    border: 0.5px solid #ccc;
    font-size: 15px;
    background: white;
    font-family: "Cairo", sans-serif;
    text-align: right;
}

.modalInput::placeholder {
    color: #aaa;
}

.modalInput:focus {
    border-color: #dd2912;
    outline: none;
    background: #fffdfd;
}
