




.otpContainer {
    display: flex;
    gap: 12px;
    width: 100%;
}

.otpInput {
    width: 100%;
    border: 1px solid #cfcfcf;
    border-radius: 8px;
    font-size: 24px;
    text-align: center;
    font-family: 'Cairo', sans-serif;
}

.timerText {
    font-size: 14px;
    font-family: 'Cairo';
    color: #666;
    width: 100%;
    margin: 0;
}

.sendBtn {

    width: 100%;
    height: 52px;
    border-radius: 10px;
    border: none;
    background: #dd2912;
    color: white;
    font-size: 18px;
    font-family: 'Cairo';
    cursor: pointer;

}

.sendBtn:hover {
    background: #bb2310;
}

.resendBtn {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #dd2912;
    background: white;
    color: #dd2912;
    font-size: 18px;
    font-family: 'Cairo';
    cursor: pointer;
}

.resendBtn:hover {
    background: #fff5f3;
}