.formContainer {
  background: #fff8f7;
  border: 1.7px dashed #f0bebe;
  border-radius: 14px;
  padding: 45px 30px;    
  direction: rtl;
  font-family: "Cairo", sans-serif;
  gap: 20px;
}

.formTitle {
 
  text-align: center;
      font-size: 20px;
        font-weight: 600;
        color: #3a3a3a;
        margin-bottom:20px ;
}

.mainForm {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
width: 100%;
  
}

.formCol{
  display: flex;
  flex-direction: column;
  width: 40%;
}
.formCol label {
  font-size: 15px;
  font-weight: 500;
  color: #333;
  display: block;
  margin-bottom: 8px;
}

.req {
  color: #dd2912;
  margin-right: 3px;
  font-size: 10px;
}


.mainForm input select{
  font-family: "Cairo", sans-serif;
  padding:  16px 8px;      
  border-radius: 12px;
  border: 1px solid #eacccc;
  font-size: 16px;
  background: #fff;
  transition: 0.2s;
}

.mainForm input:focus {
  border-color: #dd2912;
  outline: none;
}
.inputGroup {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.inputError {
  border-color: #dd2912 !important;
  background: #fff2ef;
}

.errorMsg {
  font-size: 12px;
  color: #dd2912;
  margin-top: 4px;
}

.submitBtn {
  background-color: #dd2912;
  color: white;
  padding: 14px 55px;
  border: none;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 400;
  margin-top: 40px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: 0.25s;
}



.submitBtn:hover {
  opacity: 0.9;
}

@media (max-width: 850px) {
  .mainForm {
    grid-template-columns: 1fr;
    column-gap: 0;
  }

}
