.modalOverlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.28);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.carModalContainer {
    width: 850px;
    max-width: 95vw;
    background: #fff8f7;
    border: 1px dashed #f0bebe;
    border-radius: 14px;
    padding: 50px;
    font-family: "Cairo", sans-serif;
    position: relative;
    box-sizing: border-box;
}

.closeIcon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 22px;
    color: #dd2912;
    cursor: pointer;
    margin-bottom: 40px;
}

.modalTitle {
    text-align: center;
    margin-bottom: 35px;
    font-size: 24px;
    color: #333;
    font-weight: 600;
}

.carForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.formRow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.formCol {
    width: 48%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.carModalContainer label {
    font-size: 15px;
    font-weight: 600;
    color: #333;
}

.req {
    color: #dd2912;
    font-size: 11px;
    margin-right: 3px;
}

.carModalContainer input,
.carModalContainer select {
    padding: 16px 10px;
    border: 1px solid #eacccc;
    border-radius: 12px;
    background: white;
    font-size: 15px;
    width: 100%;
    box-sizing: border-box;
    height: 55px;
}

.carModalContainer input:focus,
.carModalContainer select:focus {
    border-color: #dd2912;
    outline: none;
}


@media (max-width: 768px) {
    .modalOverlay {
        padding: 12px;
    }

    .carModalContainer {
        width: 100%;
        max-width: 100%;
        padding: 30px 20px;
    }

    .formRow {
        flex-direction: column;
        gap: 16px;
    }

    .formCol {
        width: 100%;
        gap: 18px;
    }

    .saveBtn {
        width: 100%;
        padding-inline: 0;
    }

    .closeIcon {
        top: 12px;
        right: 12px;
    }
}