.modalOverlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.28);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.carModalContainer {
    width: 850px;
    background: #fff8f7;
    border: 1.7px dashed #f0bebe;
    border-radius: 14px;
    padding: 50px  ;
    font-family: "Cairo", sans-serif;
    position: relative;
}
.closeIcon{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 22px;
    color: #dd2912;
    cursor: pointer;
    margin-bottom: 20px;
    
}
.modalTitle {
    text-align: center;
    margin-bottom: 35px;
    font-size: 24px;
    color: #333;
    font-weight: 600;
}

.carForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.formRow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.formCol {
    width: 48%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}



label {
    font-size: 15px;
    font-weight: 600;
    color: #333;
}

.req {
    color: #dd2912;
    font-size: 11px;
    margin-right: 3px;
}

/* input,
select {
    padding: 16px 10px;
    border: 1.4px solid #eacccc;
    border-radius: 12px;
    background: white;
    font-size: 15px;
} */

input:focus,
select:focus {
    border-color: #dd2912;
    outline: none;
}

.inputError {
    border-color: #dd2912 !important;
    background: #fff2ef;
}

.errorMsg {
    font-size: 12px;
    color: #dd2912;
    margin-top: -3px;
}

.saveBtn {
    background: #dd2912;
    color: white;
    padding: 14px 55px;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    margin: 35px auto 0;
    cursor: pointer;
    transition: 0.25s;
    display: block;
}

.saveBtn:hover {
    opacity: 0.9;
}